@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

body {
  height: 99vh;
  padding-top: 56px;
  background-color: #081F2B;
  color: #C9D18E;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body .btn {
    background-color: #081F2B;
    border-color: #081F2B; }
    body .btn:hover {
      background-color: #426A4C;
      border-color: #426A4C; }
  body a {
    color: #426A4C; }
    body a:hover {
      color: #081F2B; }
  body ::-webkit-scrollbar {
    width: 12px; }
  body ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  body ::-webkit-scrollbar-thumb {
    background: #888; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #555; }
  body .navigation .navbar {
    background-color: #426A4C !important; }
  body .py-5 {
    background-color: #426A4C !important; }

.container .my-2 {
  margin-top: 8rem !important;
  margin-bottom: 245px !important; }

.container #editTab, .container #messagesTab, .container #profileTab {
  color: #986d3b; }
  .container #editTab:active, .container #messagesTab:active, .container #profileTab:active {
    background-color: #f1f1f1;
    border: 2px solid #CEAF62; }
  .container #editTab:focus, .container #messagesTab:focus, .container #profileTab:focus {
    background-color: #f1f1f1;
    border: 2px solid #CEAF62; }
  .container #editTab:hover, .container #messagesTab:hover, .container #profileTab:hover {
    background-color: #986d3b;
    color: #f1f1f1;
    border: 2px solid #f1f1f1; }

.container h5 {
  color: #986d3b; }

.container h3 {
  color: #CEAF62; }

.container p {
  color: #acc78e; }

.container td {
  color: #acc78e; }
  .container td strong {
    color: #426A4C; }
