body {
  background-color: #081F2B;
  color: #081F2B; }

.signup-content {
  background-color: #426A4C; }
  .signup-content .form-input {
    background-color: #ACC78E;
    border-color: #ACC78E; }
  .signup-content a {
    color: #081F2B; }
  .signup-content .form-radio label {
    border-radius: 0;
    padding: 12px 0 0 0; }
  .signup-content .form-radio input:checked + label {
    border-color: #426A4C;
    background-color: #ACC78E; }
  .signup-content #submit {
    background-color: #ACC78E;
    color: #081F2B;
    border: 2px solid #f1f1f1; }
    .signup-content #submit:hover {
      background-color: #f1f1f1;
      border-color: #ACC78E; }
