@import "general";

.bodyContent {
  color: #081F2B;

  .card {
    background-color: #ACC78E;
  }

  .side-menu {
    position: sticky;
    top: 80px;
  }

  .middle-content {
    padding: 20px;
    background-color: rgb(172, 199, 142);
  }
}

