@font-face {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  height: 99vh;
  padding-top: 56px;
  background-color: #081F2B;
  color: #C9D18E;

  .btn {
    background-color: #081F2B;
    border-color: #081F2B;

    &:hover {
      background-color: #426A4C;
      border-color: #426A4C;
    }
  }

  a {
    color: #426A4C;


    &:hover {
      color: #081F2B;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .navigation {
    .navbar {
      background-color: #426A4C !important;
    }
  }

  .py-5 {
    background-color: #426A4C !important;
  }
}