@import "general";

.bodyContent {
  color: #081F2B;

  .my-4 {
    color: #CEAF62;
  }

  .card {
    background-color: #ACC78E;
  }

  .card-header {
    color: #081F2B;
  }

  .card-body {
    color: #081F2B;
  }
}


