@import "general";

.container {
  .my-2 {
    margin-top: 8rem !important;
    margin-bottom: 245px !important;
  }
  #editTab, #messagesTab, #profileTab {
    color: #986d3b;
    &:active {
      background-color: #f1f1f1;
      border: 2px solid #CEAF62;
    }
    &:focus {
      background-color: #f1f1f1;
      border: 2px solid #CEAF62;
    }
    &:hover {
      background-color: #986d3b;
      color: #f1f1f1;
      border: 2px solid #f1f1f1;
    }
  }
  h5 {
    color: #986d3b;
  }
  h3 {
    color: #CEAF62;
  }
  p {
    color: #acc78e;
  }
  td {
    color: #acc78e;
    strong {
      color: #426A4C;
    }
  }
}