body {
  background-color: #081F2B;
  color: #081F2B;
}

.signup-content {
  background-color: #426A4C;

  .form-input {
    background-color: #ACC78E;
    border-color: #ACC78E;
  }

  a {
    color: #081F2B;
  }

  .form-radio {
    label {
      border-radius: 0;
      padding: 12px 0 0 0;
    }

    input:checked + label {
      border-color: #426A4C;
      background-color: #ACC78E;
    }
  }

  #submit {
    background-color: #ACC78E;
    color: #081F2B;
    border:2px solid #f1f1f1;
    &:hover {
      background-color: #f1f1f1;
      border-color: #ACC78E;
    }
  }
}

